@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .mm {
        height: 100%;
    }

    #rowslist {
        padding-left: 30px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .jdkh-list {
        cursor: pointer;
    }
</style>
<link href="~/Content/Supervise/css/style.css" type="text/css" rel="stylesheet" />
<div class="main">
    @Html.Action("left", "StatisAnalysis")
    <div class="main-newright">
        <br />
        @RenderBody()
    </div>
</div>

