
@{
    ViewBag.Title = "危险区（点）信息";
    ViewBag.ActiveMenu = "InfoVillageTransferPerson";
    Layout = null;
}
<script src="~/scripts/json2.min.js"></script>
@*<link href="~/Content/bootstrap.min.css" rel="stylesheet">
<script src="~/scripts/jquery-2.1.4.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>*@
<style type="text/css">
    img {
        margin: 0 auto;
    }
</style>
<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators" id="numlist">
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner" id="piclist">
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel"
       data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="carousel-control right" href="#myCarousel"
       data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div> 
<script>
    var id="@ViewData["id"]";
    $(function() {
       
        abp.ajax({
            url: '/api/VillagePic/GetVillagePicByAdcdAndYear',
            type: "Get",
            data: { adcd: id, Year: globalYear }
        }).done(function (data) {
            if (data) {
                //alert(data.picName);
                var files = data.picName.split(',');
                var picAdcd = data.adcd;
                //alert(picAdcd);
                //var files = data.path.split('|');
                var html = '', _active = "", numhtml = '';
                for (var i = 0; i < files.length;i++){
                    if (i == 0) { _active = "active"; }
                    else {
                        _active = "";
                    }
                    //alert(files[i]);
                    var strItem = '/Upload/33/' + picAdcd.substring(2, 4) + '/' + picAdcd.substring(4, 6) + '/' + picAdcd.substring(6, 9) + '/' + picAdcd + '/' + files[i];
                    //alert(strItem);
                    numhtml += '<li data-target="#myCarousel" data-slide-to="' + i + '" class="' + _active + '"></li>';
                    html += '<div class="item ' + _active + '"><a href="' + strItem + '" target="_blank"><img src="' + strItem + '"></a></div>';
                    //html += '<div class="item ' + _active + '"><a href="' + JSON.parse(files[i]).fileSrc + '" target="_blank"><img src="' + JSON.parse(files[i]).fileSrc + '"></a></div>';
                }
                $("#piclist").html(html);
                $("#numlist").html(numhtml);
            }
        });
    });
</script>

