
@{
    Layout = "~/Views/Shared/_SuperviseLayout.cshtml";
    ViewBag.Title = "浙江省基层防汛防台体系信息管理平台-共享应用-责任人汇总";
}

<!-- -->
<div class="count-info" id="countyall" style="border-bottom:#ddd 1px solid;">
    <font>全省</font>共 <span class="total">0</span> 个县市区， 已开始填报 <span class="filled">0</span> 个，  未开始填报 <span class="notfill">0</span> 个 ，已开始填报率
    <div class="bar">
        <div class="bfbstyle" style="width:0%;"></div>
    </div>
    <span class="bfb">0%</span>
    <span class="countyimg"></span>
</div>
<div class="count-info" id="townsall" style="border-bottom:#ddd 1px solid;">
    <font>全省</font>共 <span class="total">0</span> 个乡镇， 已开始填报 <span class="filled">0</span> 个，  未开始填报 <span class="notfill">0</span> 个 ，已提交审核<span style="color:red" class="issupervise">0</span>个，已开始填报率
    <div class="bar">
        <div class="bfbstyle" style="width:0%;"></div>
    </div>
    <span class="bfb">0%</span>
    <span class="countyimg"> </span>
</div>
<div class="count-info" id="villageall" style="border-bottom:#ddd 1px solid;">
    <font>全省</font>共 <span class="total">0</span> 个行政村
</div>

<div id="rowslist">

</div>
<script type="text/javascript">
    getCheck(1);
    var perimeter = Math.PI * 2 * 60;
    var _adcd = "@(ViewData["adcd"])";
    $("#rowslist").height(window.innerHeight-200);
    $(function () {
        initTable(_adcd, 0);
    });
    //初始化
    function initTable(_adcd, _gid) {
        $.ajax({
            url: "/api/Supervise/SPersonLiable",
            data: { adcd: _adcd, grid: _gid, year: globalYear },
            type: "Post",
            dataType:"json",
            success: function (data) {
                var html = '';
                if (!data.ccStatics) {
                    abp.notify.warn("暂无数据！");
                    return;
                }
                //市
                var allt = data.hasReportedAll + data.noReportedAll;
                $("#townsall span.total").html(allt);
                $("#villageall span.total").html(data.villageAll);
                $("#townsall span.filled").html(data.hasReportedAll);
                $("#townsall span.notfill").html(data.noReportedAll);
                $("#townsall span.issupervise").html(data.isSupervise);
                var bfb = data.hasReportedAll / allt;
                var a = (Math.round(bfb * 10000) / 100).toFixed(2) + "%";
                $("#townsall span.bfb").html(a);
                $("#townsall div.bfbstyle").attr("style", "width:" + a + "");
               // $("#townsall span.countyimg").html("<img src=\"/Content/Supervise/images/" + data.gradeName + ".png\" />");
                //县
                var allc = data.hasReportedAllCounty + data.noReportedAllCounty;
                $("#countyall span.total").html(allc);
                $("#countyall span.filled").html(data.hasReportedAllCounty);
                $("#countyall span.notfill").html(data.noReportedAllCounty);
                var bfbc = data.hasReportedAllCounty / allc;
                var ac = (Math.round(bfbc * 10000) / 100).toFixed(2) + "%";
                $("#countyall span.bfb").html(ac);
                $("#countyall div.bfbstyle").attr("style", "width:" + ac + "");
               // $("#countyall span.countyimg").html("<img src=\"/Content/Supervise/images/" + data.gradeNameCounty + ".png\" />");
                //
                var rows = data.ccStatics;
                if (rows.length > 0) {
                    for (var i = 0; i < rows.length; i++) {
                        var th = rows[i].hasReported;
                        var tall = rows[i].noReported + rows[i].hasReported;
                        var percent = (th / tall).toFixed(2);
                        var a = perimeter * percent, b = perimeter * (1 - percent);
                        html += '<div class="jdkh-list"  data-adcd="' + rows[i].adcd + '" data-grid="' + rows[i].grade + '">' +
                            //'<div class="grade"><img src="/Content/Supervise/images/corner-' + rows[i].gradeName + '.png" /></div>' +
                            '<div class="cirque">' +
                            //
                            '<svg width="132" height="132">' +
                            '<circle cx="66" cy="66" r="60" stroke-width="8" stroke="#e7e7e7" fill="none"></circle>' +
                            '<circle cx="66" cy="66" r="60" stroke-width="8" stroke="#28c97b" fill="none" transform="matrix(0,-1,1,0,0,132)" stroke-dasharray="' + a + ' ' + b + '"></circle>' +
                            '</svg>' +
                            //
                            '<p>已填报<br /><b>' + rows[i].hasReported + '</b><i>个</i><br /><span>共' + (rows[i].noReported + rows[i].hasReported) + '个</span></p>' +
                            '</div>' +
                            '<div class="name">' + rows[i].adnm + '</div></div>';
                    }
                    $("#rowslist").html(html);
                    $(".jdkh-list").click(function () {
                        var adcd = $(this).attr("data-adcd");
                        var grid = $(this).attr("data-grid");
                        window.location.href = encodeURI("/Supervise/County/"+adcd);
                    });
                } else {
                    $("#rowslist").html("暂无数据");
                }
            }
        });
    }
</script>
