@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>履职情况查看</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-body">
            <table id="villageduty"></table>
        </div>
    </div>

    <div id="toolbar" class="btn-group">
       
    </div>

    <input type="hidden" id="resiveadcd" value="@ViewBag.resiveadcd" />
    <input type="hidden" id="warninfoid" value="@ViewBag.warninfoid" />

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript">
        function GetParamsZ(params) {
            var temp = {
                //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                PageSize: params.limit, //页面大小                
                PageIndex: params.offset / params.limit,
                Sort: params.Sort,
                Order:"asc",
                adcd: "@ViewBag.resiveadcd",
                warninfoid:@ViewBag.warninfoid
            };
            return temp;
        }

        $(function () {
            //查询参数

            $("#villageduty").bootstrapTable({
                url: "/api/AppReport/AppReportByVillageAdcdAndWarninfoid",                            //请求后台的URL（*）
                method: "post",                     //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: false,                   //是否显示分页（*）
                sortable: false,                    //是否启用排序
                sortOrder: "asc",                   //排序方式
                queryParams: GetParamsZ,            //传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageIndex: 1,                      //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: false,                //是否启用点击选中行
                height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                columns: [
                    {
                        field: "id",
                        title: "序号",
                        align: "center",
                        valign: "middle",
                        sortable: "false"
                       
                    },
                    {
                        field: "receiveUserName",
                        title: "姓名",
                        align: "center",
                        valign: "middle",
                        sortable: "false"
                    },
                    {
                        field: "postCode",
                        title: "岗位",
                        align: "center",
                        valign: "middle",
                        sortable: "false"
                    },
                    {
                        field: "username",
                        title: "手机",
                        align: "center",
                        valign: "middle",
                        sortable: "false"
                    },
                    {
                        field: "isResumption",
                        title: "履职情况",
                        align: "center",
                        valign: "middle",
                        sortable: "true",
                        formatter: function (value)
                        {
                            if (value == "True") {
                               
                                return "已履职";
                            }
                            else
                            {
                                 return "<span style='color:red'>未履职</span>";
                            }
                            
                        }
                    }
                ],
                data: { "adcd": $("#resiveadcd").val(), "warninfoid": $("#warninfoid").val() },
                
                formatNoMatches: function () {
                    return '无符合条件的记录';
                }
            });

            $(window).resize(function () {
                $('#reportTable').bootstrapTable('resetView');
            });
        });
    </script>
</body>
</html>