<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GrassrootsFloodCtrl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SwaggerEnable" value="true" />
    <add key="logoName" value="浙江省基层防汛防台体系信息管理系统" />
    <!-- begin  配置时，下拉字段不能含有特殊符号，只允许文字-->
    <add key="行政村信息" value="行政村,经度(小数点如120.30，如没有可以不填写),纬度(小数点如30.10，如没有可以不填写)" />
    <add key="行政村受灾信息" value="行政村,总人口（人）,受灾点（个）,受影响人口（人）,防汛任务轻重(只能填写'较轻'或者'较重')" />
    <add key="行政村防汛防台工作组" value="行政村,岗位,责任人,责任人职务,责任人手机,备注|1" />
    <add key="行政村网格责任人" value="行政村,网格名,网格类型,责任人,职位,手机,备注|2" />
    <add key="行政村危险区人员转移清单"
         value="*行政村,*危险区名称,危险区类型,*位置,经度(小数点如120.30),纬度(小数点如30.10),*户主,*居住人数,*户主手机,*转移责任人,*转移责任人职务,*转移责任人手机,*预警责任人,*预警责任人职务,*预警责任人手机,*避灾场所,*有无安全鉴定,*避灾场所管理员,*避灾场所管理员手机,备注|2 " />
    <add key="镇级防汛防台责任人" value="乡(镇、街道),岗位,责任人,责任人职务,责任人手机,备注|1" />
    <add key="添加县级防汛防台责任人" value="岗位,责任人,责任人职务,责任人手机,备注|0" />
    <add key="SuperviseLevel" value="0,25,cha|25,50,hege|50,75,liang|75,100,you" />
    <add key="村级工作组" value="村级主要负责人,监测预警组,人员转移组,抢险救援组" />
    <add key="村级网格" value="巡查员,管理员,预警员,监测员,联络员" />
    <add key="QRCodeUrl" value="http://192.168.35.142:93/QRCodeVillage/" />
    <add key="jgpushUrl" value="http://test-push.dayuteam.cn/api/v1/push/toMembers"/>
    <add key="jgpushtoken" value="63071542098d4e60b958e1f59def3794"/>
    <add key="jgpushmod" value="matrix:notice"/>
    <!-- end-->
    <!-- begin 短信平台Mas地址-->
    <!--<add key="tbServiceURL" value="http://10.17.201.36:9080/OpenMasService" />-->
    <add key="tbServiceURL" value="http://sms.zjwater.gov.cn/OpenMasService" />
    <add key="GetServiceURL" value="http://127.0.0.1:88/smsservice/" />
    <!-- end-->
    <!-- begin 短信校验码有效期（单位：分钟）-->
    <add key="MessgaeValidTime" value="5" />
    <!-- end-->
    <add key="appApi" value="http://shuili.dayuteam.cn/api/v1/member/check_username" />
  </appSettings>
  <connectionStrings>

    <!--<add name="GrassrootsFloodCtrl" connectionString="server=122.224.94.108,8000;database=jcfxydtest;uid=sa;pwd=Zdwp54321;" providerName="System.Data.SqlClient" />-->
    <!--<add name="GrassrootsFloodCtrl" connectionString="server=106.14.95.128;database=jcfx;uid=sa;pwd=Zdwpszh54321;"
             providerName="System.Data.SqlClient" />-->
    <!--<add name="GrassrootsFloodCtrl" connectionString="server=115.238.35.228;database=GrassrootsFloodCtrl;uid=sa;pwd=Zdwp54321;" providerName="System.Data.SqlClient" />-->
    <add name="GrassrootsFloodCtrl" connectionString="server=106.14.192.145;database=GrassrootsFloodCtrl;uid=sa;pwd=Zdwp54321;" providerName="System.Data.SqlClient" />
    <!--<add name="GrassrootsFloodCtrl" connectionString="server=122.224.94.108,8000;database=GrassrootsFloodCtrl;uid=sa;pwd=Zdwp54321;" providerName="System.Data.SqlClient" />-->
    <!--<add name="GrassrootsFloodCtrl" connectionString="server=106.14.192.145;database=GrassrootsFloodCtrl;uid=sa;pwd=Zdwp54321;" providerName="System.Data.SqlClient" />-->
    <!--<add name="GrassrootsFloodCtrl" connectionString="server=.;database=GrassrootsFloodCtrl;uid=sa;pwd=123456;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <log4net>
    <root>
      <!-- Value of priority may be ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF. -->
      <priority value="ALL" />
      <appender-ref ref="error-file" />
      <appender-ref ref="debug-file" />
    </root>
    <appender name="debug-file" type="log4net.Appender.RollingFileAppender">
      <!-- Sends log messages to a file in App_Data. -->
      <file value="App_Data/Logs/debug.log" />
      <appendToFile value="true" />
      <StaticLogFileName value="false" />
      <PreserveLogFileNameExtension value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="50" />
      <maximumFileSize value="10MB" />
      <!-- Prevents Orchard.exe from displaying locking debug messages. -->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="error-file" type="log4net.Appender.RollingFileAppender">
      <!-- Sends ERROR and FATAL log messages to a file in App_Data. -->
      <file value="App_Data/Logs/error.log" />
      <appendToFile value="true" />
      <StaticLogFileName value="false" />
      <PreserveLogFileNameExtension value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="50" />
      <maximumFileSize value="10MB" />
      <!-- Prevents Orchard.exe from displaying locking debug messages. -->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <!-- Only ERROR and FATAL log messages end up in this target, even if child loggers accept lower priority. -->
        <levelMin value="ERROR" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <!--100M 2097151-->
    <httpRuntime targetFramework="4.5" maxRequestLength="104857600" executionTimeout="300" />
    <authentication mode="Forms">
      <forms cookieless="UseCookies" loginUrl="/Account/Login" name="elauth" timeout="60" slidingExpiration="true">
      </forms>
    </authentication>
  </system.web>

  <location path="api">
    <system.web>
      <httpHandlers>
        <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
      </httpHandlers>
    </system.web>

    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true" />
      <validation validateIntegratedModeConfiguration="false" />
      <urlCompression doStaticCompression="true" doDynamicCompression="false" />
      <handlers>
        <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*"
             preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
      </handlers>
    </system.webServer>
  </location>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1024000000"></requestLimits>
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS"
           modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll"
           preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS"
           modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll"
           preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS"
           type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <applicationSettings>
    <GrassrootsFloodCtrl.Properties.Settings>
      <setting name="GrassrootsFloodCtrl_TiackSSO_OrgAndUserService"
        serializeAs="String">
        <value>http://sfrz.zjwater.gov.cn/sso/service/OrgAndUserService</value>
      </setting>
      <setting name="GrassrootsFloodCtrl_TiackSSOAuth_SsoAuthService"
        serializeAs="String">
        <value>http://sfrz.zjwater.gov.cn/sso/service/SsoAuthService</value>
      </setting>
    </GrassrootsFloodCtrl.Properties.Settings>
  </applicationSettings>
</configuration>