@{
    Layout = null;
}
<form class="form-horizontal" id="passwordForm">
    <div class="form-group">
        <label class="control-label col-md-3">原密码：</label>
        <div class="col-md-6">
            <input class="form-control" type="password" required="required" name="oldPassword" id="oldPassword"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">新密码：</label>
        <div class="col-md-6">
            <input class="form-control" type="password" required="required" name="newPassword" id="newPassword"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">确认密码：</label>
        <div class="col-md-6">
            <input class="form-control" type="password" required="required" data-rule-equalTo="#newPassword" id="newPasswordOK"/>
        </div>
    </div>
</form>
<script>
    $('#passwordForm').validate();
    function check(pwd) {

        var reg = new RegExp(/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,}$/);//(/[A-Za-z].*[0-9]|[0-9].*[A-Za-z]/);//^(?![^a-zA-Z]+$)(?!\D+$).{8,15}$
        if (reg.test(pwd))
            return true;
        else
            return false;
    }

    $('#btnModalSave').off('click').on('click', function () {
        var $form = $('#passwordForm');
        if (!$form.validate().form()) return false;
        var pwd = $("#newPassword").val();
        if (!check(pwd)) {
            alert("密码格式不符合，必须包含字母和数字且长度在6位及以上");
            return false;
        }
        var formData = $form.serializeArray();
        abp.ui.setBusy($('#modalBox'), abp.ajax({
            url: '/api/Sys/changePassword/@ViewData["id"]',
            data: formData,
            type: "POST"
        }).done(function (data) {
            abp.notify.success("编辑成功，请重新登陆");
            closeModal();
            setTimeout(function () {
                window.location = "/Account/LogOff";
            }, 500);
        }));
    });
</script>